*{
    background-color: blanchedalmond;
    margin-top: 10px;
}
.btn1,a{
    margin-bottom: 0px;
    width: 50%;
    display: block;
    padding: 35px 80px 35px 80px;
    border: 0px;
    border-radius: 20px;
    color: whitesmoke;
    text-decoration: none;
    border-style: none;
}
.btn1,a:hover{
    color: blueviolet;
    background-color: rgb(174, 228, 228);
}
.btn1,h1{
    color: blue;
}
.butn1{
    background-color: red;
}
.butn2{
    background-color: green;
}
.butn3{
    background-color: orange;
}
.butn4{
    background-color: greenyellow;
}
/*CSS for News.html starts here, but there are some style that tallies with it from above*/
.news,a{
    margin-bottom: 5px;
    display: block;
    padding: 55px 80px 55px 80px;
    border: 0px;
    border-radius: 20px;
    color: whitesmoke;
    text-decoration: none;
    border-style: none;
}